/T-Speich-CPT-206-Lab-5/.vs
/T-Speich-CPT-206-Lab-5/T-Speich-CPT-206-Lab-5-Web-App/bin
/T-Speich-CPT-206-Lab-5/T-Speich-CPT-206-Lab-5-Web-App/obj
/T-Speich-CPT-206-Lab-5/T-Speich-CPT-206-Lab-5/bin
/T-Speich-CPT-206-Lab-5/T-Speich-CPT-206-Lab-5/obj
